<div style="width: 100%; height: 100%;" class="container-fluid sequelize-ng-aggrid-main">
    <div style="width: 100%;height:42px" class=" sequelize-ng-aggrid-toolbar">
        <div class="row">
            <div class="col-md-5">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2" role="group">
                        <button *ngIf="params?.gridFunctions?.canAdd" type="button" class="btn btn-secondary" (click)="onButtonAdd()">
                            <i class="fa fa-plus">&nbsp;</i>
                        </button>
                        <button *ngIf="params?.gridFunctions?.canEdit" type="button" class="btn btn-secondary" (click)="onButtonEdit()">
                            <i class="fa fa-edit">&nbsp;</i>
                        </button>
                        <button *ngIf="params?.gridFunctions?.canDelete" type="button" class="btn btn-secondary" (click)="onButtonDelete()">
                            <i class="fa fa-times">&nbsp;</i>
                        </button>
                        <button type="button" class="btn btn-secondary" (click)="onButtonRefresh()">
                            <i class="fa fa-undo">&nbsp;</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 float-center">
                <button type="button" class="btn btn-light" disabled>
                    <i class="fa fa-database">: {{totalRowCount}}</i>
                </button>
            </div>
            <div class="col-md-2">
                <ng-content select="[extra-buttons]"></ng-content>
            </div>
            <div class="col-md-3">
                <div class="btn-group mr-2 float-right" role="group">
                    <button type="button" class="btn btn-secondary" (click)="onButtonBackward()">
                        <i class="fa fa-backward">&nbsp;</i>
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="onButtonPrevious()">
                        <i class="fa fa-caret-left">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    </button>
                    <button type="button" class="btn btn-light" disabled>{{' '+currentPageNumber+' / '+totalPageCount+' '}}</button>
                    <button type="button" class="btn btn-secondary" (click)="onButtonNext()">
                        <i class="fa fa-caret-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="onButtonForward()">
                        <i class="fa fa-forward">&nbsp;</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 100%;" class="sequelize-ng-aggrid-toolbar">
        <ag-grid-angular #agGrid style="width: 100%; height: 100%;" class="ag-theme-fresh" [rowData]="rowData" [columnDefs]="params?.columnDefs"
            [gridOptions]="gridOptions"></ag-grid-angular>
    </div>
</div>